@font-face {
  font-family: "beispiel_font_nicole";
  src: url("./nicole-VF.woff2") format("woff2-variations"),
    url("./nicole-VF.woff2") format("woff2"),
    url("nicole-VF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#nicole {
  font-family: "beispiel_font_nicole";
  font-variation-settings: "wght" 500;
  font-size: 4rem;
}
