@font-face {
  font-family: "stephanie";
  src: url("./stephanie-VF.woff2") format("woff2-variations"),
    url("./stephanie-VF.woff2") format("woff2"),
    url("stephanie-VF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#stephanie {
  font-family: "stephanie";
  font-variation-settings: "wght" 500;
  font-size: 4rem;
}
