@font-face {
  font-family: "beispiel_font";
  src: url("./natasha-VF.woff2") format("woff2-variations"),
    url("./natasha-VF.woff2") format("woff2"),
    url("natasha-VF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#natasha {
  font-family: "beispiel_font";
  font-variation-settings: "wght" 500;
  font-size: 4rem;
}
