<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>.notdef</key>
    <string>_notdef.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>NULL</key>
    <string>N_U_L_L_.glif</string>
    <key>CR</key>
    <string>C_R_.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>space</key>
    <string>space.glif</string>
  </dict>
</plist>
