<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>width</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
      </dict>
    </dict>
  </dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>889</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>972</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>972</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1111</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>1023</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>514</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>a</string>
    <string>g</string>
    <string>k</string>
    <string>o</string>
    <string>n</string>
    <string>space</string>
  </array>
</dict>
</plist>
