<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>a</key>
  <dict>
    <key>a</key>
    <integer>-98</integer>
    <key>g</key>
    <integer>-103</integer>
    <key>n</key>
    <integer>-111</integer>
    <key>k</key>
    <integer>-111</integer>
    <key>o</key>
    <integer>-120</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>a</key>
    <integer>-125</integer>
    <key>g</key>
    <integer>-55</integer>
    <key>n</key>
    <integer>-55</integer>
    <key>k</key>
    <integer>-78</integer>
    <key>o</key>
    <integer>-115</integer>
  </dict>
  <key>n</key>
  <dict>
    <key>a</key>
    <integer>-121</integer>
    <key>g</key>
    <integer>-97</integer>
    <key>n</key>
    <integer>-97</integer>
    <key>k</key>
    <integer>-113</integer>
    <key>o</key>
    <integer>-166</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>a</key>
    <integer>-183</integer>
    <key>g</key>
    <integer>-117</integer>
    <key>n</key>
    <integer>-153</integer>
    <key>k</key>
    <integer>-184</integer>
    <key>o</key>
    <integer>-179</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>a</key>
    <integer>-85</integer>
    <key>g</key>
    <integer>-91</integer>
    <key>n</key>
    <integer>-100</integer>
    <key>k</key>
    <integer>-84</integer>
  </dict>
</dict>
</plist>
