@font-face {
  font-family: "beispiel_font";
  src: url("./scaler-VF.woff2") format("woff2-variations"),
    url("./scaler-VF.woff2") format("woff2"),
    url("scaler-VF.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#beispiel {
  font-family: "beispiel_font";
  font-variation-settings: "wght" 500;
  font-size: 4rem;
}
