<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>510</real>
    </dict>
    <dict>
      <key>angle</key>
      <real>0</real>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <real>0</real>
      <key>y</key>
      <real>-7</real>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>k</string>
    <string>a</string>
    <string>g</string>
    <string>n</string>
    <string>o</string>
    <string>m</string>
    <string>l</string>
    <string>T</string>
    <string>t</string>
    <string>b</string>
    <string>c</string>
  </array>
</dict>
</plist>
