@font-face {
    font-family: "beispiel_font_lars";
    src: url("./lars-VF.woff2") format("woff2-variations"),
      url("./lars-VF.woff2") format("woff2"),
      url("lars-VF.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  #lars {
    font-family: "beispiel_font_lars";
    font-variation-settings: "wght" 500;
  }
